.row
  .span4
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well"}) do |f|
      %div
        %fieldset
          %legend 
            Sign In
          =f.input :email
          =f.input :password

      - if devise_mapping.rememberable?
        %div
          = f.input :remember_me, :as => :boolean

      %div= f.button :submit, "Sign In"
    = render "devise/shared/links"
  .span8
    %h2 Signing in is easy and secure